.slider-container {
    margin: auto;
    width: 80%;
}

.slide-card {
    display: flex;
}

.slide-card>div>img {
    height: 25em;
    width: 80vw;
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: black;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: black;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #60a1eb !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#links-img {
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    padding: 4em;
}

.roundimg {
    border: #635b5b 2.5px solid;
    border-radius: 50%;
    height: 7em;
    width: 7em;
}

.centertext {
    background-color: #258383;
    border-radius: 5px;
    color: #fff;
    padding: 0.5em;
    text-align: center;
}

.centertext:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.sintomas {
    background-color: #60a1eb;
    display: flex;
    height: 15em;
    justify-content: space-evenly;
    margin: 2em 0;
}

#sintomas-llamar {
    padding: 3em;
}

#numero-emergencia {
    padding: 2em;
}

.sintomas h1 {
    display: inline;
    font-size: 10em;
}

.sintomas p {
    font-size: 1.2em;
}

.sintomas h2 {
    font-size: 4em;
}

.fa-phone-square-alt {
    font-size: 5em;
}

@media only screen and (max-width:768px) {

    .slider-container {
        justify-content: space-around;
        margin: 2em;
    }

    .slide-card>div img {
        height: 10em;
        width: 15em;
    }

    .roundimg {
        position: relative;
        left: 20%;
    }

    #links-img {
        flex-direction: column;
    }

    #links-img p {
        text-align: center;
    }

    .sintomas {
        height: 10em;
        flex-direction: column;
        margin: 0;
    }

    #sintomas-llamar {
        padding: 0;
    }

    #numero-emergencia {
        padding: 0;
    }

    .sintomas h1 {
        display: inline;
        font-size: 3em;
    }

    .sintomas h2 {
        font-size: 1em;
    }

    .fa-phone-square-alt {
        font-size: 2em;
    }
}